
      body{
          background-color: lightblue;
      }
        
    
        input[type="submit"]{
            background-color: rgb(14, 191, 250);
            text-align: center;
            font-size: 16px;
        }
        input[type="text"]{
            background-color: rgb(8, 8, 250);
            color:white;
            
            
        }
        
      