<!DOCTYPE html>
<html>
<head>
 <style>
    body{
        background-color: lightblue;
    }
      
  
      input[type="submit"]{
          background-color: rgb(14, 191, 250);
          text-align: center;
          font-size: 16px;
      }
      input[type="text"]{
          background-color: rgb(8, 8, 250);      
      }
      h1{
          font-weight: bold;
      }
 </style>
</head>

<body>



<div class="container">
<main>
            <h1>
                Modify Info For: <%= name %>
            </h1>
            <section>
                <form action="/modify-rectangle" method="post">
                    <input type="hidden" name = "original_name" value="<%=name %>">
                    <input type="text" name = "name" value="" placeholder="enter name" required><br>
                    <input type="text" name = "color" value="" placeholder="enter color" required><br>
                    <input type="text" name = "width" value="" placeholder="enter width" required><br>
                    <input type="text" name = "length" value="" placeholder="enter length" required><br>
                    <input type="text" name = "isSquare" value="" placeholder="(T/F)isSquare" required><br>
                    <input type="text" name = "isLonger" value="" placeholder="(T/F)length is longer than width" required><br>
                    <input type="text" name = "isWider" value="" placeholder="(T/F)width is longer than length" required><br>
                    <input type = "submit" name="sub" value="SERVER"> <br>
                    
                </form>
                <form action="/database">
                    
                    <input type = "submit"  value="Display all rectangles"> <br>
                    
                </form>
            </section>
            
        </main>

</div>

</body>
</html>
