<!DOCTYPE html>
<html>
<head>
  
</head>

<body>



<div class="container">
<h2>Database Rectangles</h2>

<ul>
    <% rows.forEach(function(r) { %>
        <li><a href="/rectangles/<%=r.name%>"><%=r.name%></a> - <%= r.color %></li>
    <% }); %>
</ul>
<form action="/RectanglePage.html">

  <input type = "submit" value="Add New rectangle">
</form>

</div>

</body>
</html>
