<!DOCTYPE html>
<html>
<head>
  <style>
    body{
        background-color: lightblue;
    }
    
      ul {
          font-size: large;
          font-weight: bold;
      }
      input[type="submit"]{
          background-color: rgb(14, 191, 250);
          text-align: center;
          font-size: 16px;
      }
      
    </style>
</head>

<body>



<div class="container">
<h2>Database Rectangles</h2>

<ul>
    <% rows.forEach(function(r) { %>
        <li><a href="/rectangles/<%=r.name%>"><%=r.name%></a> - <%= r.color %></li>
    <% }); %>
</ul>
<form action="/RectanglePage.html">

  <input type = "submit" value="Add New rectangle">
</form>

</div>

</body>
</html>
