<!DOCTYPE html>
<html>
<head>

</head>

<body>



<div class="container">
<h2>Done</h2>


<form action="/database">

  <input type = "submit" value="Display All Rectangles">
</form>

</div>

</body>
</html>
