<!DOCTYPE html>
<html>
<head>
  <style>
    body{
        background-color: lightblue;
    }
    
      
      input[type="submit"]{
          background-color: rgb(14, 191, 250);
          text-align: center;
          font-size: 16px;
      }
      
    </style>
</head>

<body>



<div class="container">
<h2>Done</h2>
<p>WARNING: if you rectangle did not get added or changed please check that you entered the right inputs</p>


<form action="/database">

  <input type = "submit" value="Display All Rectangles">
</form>

</div>

</body>
</html>
