<!DOCTYPE html>
<html>
<head>
  <style>
    body{
        background-color: lightblue;
    }
  
      
    </style>
</head>

<body>



<div class="container">
<h2>Done</h2>


<form action="/database">

  <input type = "submit" value="Display All Rectangles">
</form>

</div>

</body>
</html>
